.App{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.App h1{
    margin: 1rem 0;
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.35rem;
    color: #ff0066;
}

.App h1 span{
    color: #f1c21b;
}

.App .btn{
    background-color: #fff;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0.5rem 0;
    color: #fff;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.App label{
    font-family: 'Montserrat', sans-serif;
}

.App .btn:hover{
    box-shadow: 0 2px 2px 0 rgba(60,64,67,.3), 2px 4px 6px 2px rgba(60,64,67,.15);
}

.reset{
    background-color: #ff0066!important;
}

.upload{
    background-color: #f1c21b!important;
}

.appMain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 90%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#iinput{
    max-height: 80%;
    max-width: 100%;
}

.outputImg{
    margin: 0 auto;
}

#wavesvg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#blob1{
    position: absolute;
    right: -150px;
    top: -200px;
    width: 400px;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#blob2{
    position: absolute;
    z-index: 1;
    bottom: -150px;
    left: -160px;
    width: 350px;
    animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(10px, 35px); } 
    100%   { transform: translate(0, 0px); }     
}

@keyframes floating2 { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(-10px, -35px); } 
    100%   { transform: translate(0, 0px); }     
}

@media only screen and (max-width: 768px){
    #blob1, #blob2{
        width: 300px;
    }
}